.setupCard{
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    min-height: 100px;
    width: 40%;
    .setupcard-title{
        text-align: center;
        font-weight: 500;
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            display: inline-block;
            margin: 0;
        }
        button{
            position: absolute;
            right: 20px;
            top:15px;
        }
    }
    .setupcard-body{
        padding: 0 25px 10px;
        ul{
            list-style-type: none;
        }
    }
}